<div class="row">
  <div class="col-md-9">
    <div class="order-panel">
      <div class="panel-body">
        <table 
          ng-if="cart.length > 0" 
          ng-class="{ loading: isLoading }"
          class="order-table">
          <tbody>
            <tr ng-repeat="cartItem in cart">
              <td class="td-plan-display">
                <div class="plan-container">
                  <div>{{ cartItem.product.name }}</div>
                </div>
              </td>
              <td class="td-plan">
                <div class="order-item-name">{{ cartItem.product.name }}</div>
                <div class="order-item-description">{{ cartItem.product.description }}</div>
              </td>
              <td class="td-price">${{ cartItem.product.price }}</td>
              <td class="td-action">
                <button ng-click="remove(cartItem.product.id)" class="btn-clear-item" type="button" title="Remove">&times;</button>
              </td>
            </tr>
          </tbody>
        </table>
        
        <div ng-if="!isLoading && cart.length == 0" class="order-empty">You have not selected any plans. <a href="/#pricing-plans">Back to pricing plans.</a></div>
      </div>
    </div>
  </div>
  
  <div ng-if="cart.length > 0" 
    ng-class="{ loading: isLoading }"
    class="col-md-3">
    <div class="order-summary-panel">
      <h6>Summary</h6>
      <div class="order-item-summary">
        <span>SubTotal</span><span class="price">${{ subTotal }}</span>
      </div>
      <hr/>
      <div class="order-item-summary">
        <span><strong>Total</strong></span><span class="price">${{ total }}</span>
      </div>
      <div class="order-item-summary">
        <span>Delivery Time</span><span class="delivery-time">{{ delivery_days }} {{ delivery_days <= 1 ? 'Day' : 'Days' }}</span>
      </div>
      <form method="post" action="/order">
        <input type="hidden" name="_token" value="{{ token }}" />
        <button class="btn-checkout" type="submit">Order Now</button>
      </form>
    </div>
    <div class="payment-icons-container">
      <ul class="payment-methods-icons">
        <li><img src="/img/payment-icons/visa.png" alt="Visa" /></li>
        <li><img src="/img/payment-icons/mastercard.png" alt="Mastercard" /></li>
        <li><img src="/img/payment-icons/paypal.png" alt="PayPal" /></li>
      </ul>
    </div>
  </div>
</div>