  <form id="requirements-form" name="form" action="/order/requirement" method="POST" enctype="multipart/form-data" novalidate>
    <input type="hidden" name="_token" value="{{ token }}" />
    <input type="hidden" name="refNo" value="{{ data.refNo }}" />

    <div class="row">
      <div class="col-md-6 col-xs-6 form-group"
        ng-class="{ 'has-error': form.name.$touched && form.name.$invalid }">
        <input type="text" class="form-control" ng-model="data.name"
          name="name" value="" placeholder="Name" required/>
        <div ng-if="form.name.$touched">
          <span ng-show="form.name.$error.required" class="validation-msg">Name is required.</span>
        </div>
      </div>
      <div class="col-md-6 col-xs-6 form-group"
        ng-class="{ 'has-error': form.email.$touched && form.email.$invalid }">
        <input type="email" class="form-control" ng-model="data.email"
          name="email" value="" placeholder="Email" required/>
        <div ng-if="form.email.$touched">
          <span ng-show="form.email.$error.required" class="validation-msg">Email is required.</span>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-6 col-xs-6 form-group"
        ng-class="{ 'has-error': form.fromLang.$touched && form.fromLang.$invalid }">
        <select class="form-control" ng-model="data.fromLang" name="fromLang" required>
          <option value="" disabled selected>Select Current Language</option>
          <option value="english">English</option>
          <option value="spanish">Spanish</option>
        </select>
        <div ng-if="form.fromLang.$touched">
          <span ng-show="form.fromLang.$error.required" class="validation-msg">Current Language is required.</span>
        </div>
      </div>
      <div class="col-md-6 col-xs-6 form-group"
        ng-class="{ 'has-error': form.toLang.$touched && form.toLang.$invalid }">
        <select class="form-control" ng-model="data.toLang" name="toLang" required>
          <option value="" disabled selected>Select Translate Language</option>
          <option value="spanish">Spanish</option>
          <option value="english">English</option>
        </select>
        <div ng-if="form.toLang.$touched">
          <span ng-show="form.toLang.$error.required" class="validation-msg">Translate Language is required.</span>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-6 col-xs-12 form-group"
        ng-class="{ 'has-error': form.file.$touched && form.file.$invalid }">
        <input type="file" class="form-control" ng-model="data.file" 
          name="file" value="" validfile/>
        <span class="help-block">Allowed file types: .docx, .xls, .xlsx, . txt, .pdf</span>
        <div ng-if="form.file.$touched">
          <span ng-show="form.file.$error.validfile" class="validation-msg">Invalid file format.</span>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-12 form-group"
        ng-class="{ 'has-error': form.description.$touched && form.description.$invalid }">
        <textarea class="form-control" rows="10" ng-model="data.description" required
          name="description" placeholder="Description or context of translated text"></textarea>
        <div ng-if="form.description.$touched">
          <span ng-show="form.description.$error.required" class="validation-msg">Description is required.</span>
        </div>
      </div>
    </div>
    
    <button ng-disabled="form.$invalid" type="submit" class="btn pull-right">SUBMIT</button>
  </form>
